.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px;
  background-color: darkblue;
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}
.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
